body {
  margin: 0;
  background: #11110C;
}
.burger {
  position: fixed;
  z-index: 100;
  right: 0px;
  width: 40px;
  height: 40px;
  background: url(burger.png) no-repeat center center/contain;
}
.contain {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recycle {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  background: url(recycle.png) no-repeat center top/contain;
  transition: 1.5s;
  transform: rotate(0deg);
}
.canvas {
}
.winner {
  height: 30px;
  font-size: 30px;
}
.menu {
  user-select: none;
  display: flex;
  position: fixed;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(fon.png) no-repeat center top/contain #11110C;
  z-index: 1;
}
.choose {
  margin-top: 150px;
  
  width: 100%;
}
.chooseBox1 {
  display: flex;
  position: absolute;
  left: 0px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  transition: 0.5s;
}
.chooseBox2 {
  display: flex;
  position: absolute;
  left: 1000px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  transition: 0.5s;
}
.ask1, .ask2{
  font-family: arial;
  text-align: center;
  font-size: 30px;
  width: 100%;
}
.cross, .zero, .max, .norm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 89px;
  border: 1px solid #A9AC5D;
  font-size: 30px;
  color: #A9AC5D;
}
